#professions {
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#professions .filter {
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}

#professions .blogs {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
}

#professions .blogs > div {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#professions .blogs > div > .imgs {
    flex: 1;
}

#professions .blogs > div > .imgs img {
    width: 100%;
    height: 100%;
}

#professions .blogs > div > div:not(.imgs) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

#professions .blogs > div > div:not(.imgs) > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#professions button {
    border-radius: 5px;
    border: none;
    background-color: white;
    transition: 0.5s background-color;
    padding: 10px 15px;
}

#professions button:hover {
    background-color: rgb(245, 245, 245);
}

#professions button:active {
    background-color: rgb(235, 235, 235);
}