.professions-nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.professions-nav section {
    border-radius: 10px;
    padding: 10px;
}

.professions-nav section h1 {
    margin: 10px auto;
}

.professions-nav section:nth-child(1) {
    border: 3px solid rgb(200, 0, 0);
    background-color: rgba(200, 0, 0, 0.4);
}

.professions-nav section:nth-child(2) {
    border: 3px solid rgb(0, 200, 0);
    background-color: rgba(0, 200, 0, 0.4);
}

.professions-nav section:nth-child(3) {
    border: 3px solid rgb(0, 0, 200);
    background-color: rgba(0, 0, 200, 0.4);
}