#professions {
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#professions .filter {
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}

#professions .blogs {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

#professions .blogs > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#professions .blogs > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#professions .blogs > div > div > div:not(.imgs) {
    height: 100%;
    flex: 4;
}

#professions .blogs > div > div > .imgs {
    flex: 3;
    margin: 10px 5px;
}

#professions .blogs h1 {
    margin: 5px;
}

#professions .blogs > div > div > .imgs img {
    width: 100%;
    height: 100%;
}

#professions button {
    border-radius: 5px;
    border: none;
    background-color: white;
    transition: 0.5s background-color;
    padding: 10px 15px;
}

#professions button:hover {
    background-color: rgb(245, 245, 245);
}

#professions button:active {
    background-color: rgb(235, 235, 235);
}