#questions input {
    border: 1px solid rgb(200, 200, 200);
    background-color: white;
    transition: 0.5s background-color;
    padding: 10px 15px;
    outline: none;
    margin: 0 10px;
}

#questions input:focus {
    background-color: rgb(245, 245, 245);
}

#questions button {
    border-radius: 5px;
    border: none;
    background-color: rgb(245, 245, 245);
    transition: 0.5s background-color;
    padding: 10px 15px;
}

#questions button:hover {
    background-color: rgb(235, 235, 235);
}

#questions button:active {
    background-color: rgb(215, 215, 215);
}

@media (max-width: 768px) {
    #questions {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #questions input {
        margin: 0;
    }
}