#homepage {
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#homepage .pop-blogs {
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#homepage .about-program{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#homepage .general-intoduction {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#homepage .general-intoduction .blogs, #homepage .general-intoduction .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

#homepage .general-intoduction .blogs > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#homepage .general-intoduction .about > * {
    flex: 1;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#homepage .general-intoduction .blogs > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#homepage .general-intoduction .blogs > div > div > .imgs {
    flex: 3;
    margin: 10px 5px;
}

#homepage .general-intoduction .blogs h1 {
    margin: 5px;
}

#homepage .general-intoduction .blogs > div > div > .imgs img {
    width: 100%;
    height: 100%;
}

#homepage .general-intoduction .blogs > div > div > div:not(.imgs) {
    height: 100%;
    flex: 4;
}

#homepage .general-intoduction .blogs > div > div:not(.imgs) > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#homepage .goals {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#homepage .questions {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#homepage button {
    border-radius: 5px;
    border: none;
    background-color: white;
    transition: 0.5s background-color;
    padding: 10px 15px;
}

#homepage button:hover {
    background-color: rgb(245, 245, 245);
}

#homepage button:active {
    background-color: rgb(235, 235, 235);
}