#homepage {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#homepage .carusel {
    width: 100%;
    margin: 20px 0;
    position: relative;
    height: 90vh;
}

#homepage .images {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#homepage .images * {
    height: 100%;
}

#homepage .controls {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

#homepage .controls * {
    flex: 1;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

#homepage .controls .page{ cursor: pointer; }

#homepage .control-left:hover, #homepage .control-right:hover {
    opacity: 0.2;
}
#homepage .control-left:active, #homepage .control-right:active {
    opacity: 0.4;
}

#homepage .control-left {
    background: linear-gradient(to right, rgba(0,0,0,0.5), transparent);
}
#homepage .control-right {
    background: linear-gradient(to left, rgba(0,0,0,1), transparent);
}

#homepage .general-intoduction {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#homepage .general-intoduction .blogs, #homepage .general-intoduction .about {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: stretch;
}

#homepage .general-intoduction .blogs > div {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#homepage .general-intoduction .about > * {
    flex: 1;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#homepage .general-intoduction .blogs > div > .imgs {
    flex: 1;
}

#homepage .general-intoduction .blogs > div > .imgs img {
    width: 100%;
    height: 100%;
}

#homepage .general-intoduction .blogs > div > div:not(.imgs) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

#homepage .general-intoduction .blogs > div > div:not(.imgs) > div > div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#homepage .questions {
    display: flex;
    justify-content: space-between;
}