#profession-Journalism {
    padding: 20px 5%;
}

#profession-Journalism > div {
    display: flex;
    gap: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

#profession-Journalism > div > * {
    flex: 1;
}

#profession-Journalism > div .video iframe {
    width: 100%;
}

#profession-Journalism > div .video > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

#profession-Journalism > div .video > div > div {
    display: flex;
    gap: 10px;
}

#profession-Journalism > div .video > div span {
    border: 1px solid;
    border-radius: 2px;
    padding: 5px 10px;
}

#profession-Journalism > div > .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#profession-Journalism > div > .about p {
    border: 1px solid;
    padding: 20px;
}

@media (max-width: 768px) {
    #profession-Journalism {
        padding: 10px 2.5%;
    }

    #profession-Journalism > div {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        padding: 15px;
        border-radius: 10px;
    }

    #profession-Journalism > div .video > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}