#secret {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;
    cursor: pointer;
}

#secret .left-half, #secret .right-half {
    aspect-ratio: 1 / 2;
    width: 20%;
    height: auto;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/640px-Heart_coraz%C3%B3n.svg.png');
    background-size: 200% auto;
    background-repeat: no-repeat;
    transition: transform 1s ease;
}

.left-half {
    background-position: left;
}
  
.right-half {
    background-position: right;
}

#secret .text {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    transition: max-width 1s ease, opacity 1s ease, white-space 1s ease;
}
  
#secret.open .left-half {
    transform: translateX(-20%);
}
  
#secret.open .right-half {
    transform: translateX(20%);
}
  
#secret.open .text {
    white-space: wrap;
    max-width: 40%;
    opacity: 1;
    margin: 0 20px;
}

@media (max-width: 768px) {
    #secret .left-half, #secret .right-half {
        width: 40%;
    }
}