#header-styles nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 15px 4%;
}

#header-styles .burger, #header-styles .burger-nav {
    display: none;
}

#header-styles {
    padding: 10px;
}

#header-styles img {
    width: 50px;
    height: auto;
    margin-right: 20px;
    padding: 0 0 5px 0;
}

#header-styles nav span {
    display: flex;
    align-items: center;
}

#header-styles nav .main-nav{
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#header-styles nav .main-nav::-webkit-scrollbar{
    display: none;
}

#header-styles .test{
    background-color: rgb(0, 162, 255);
    color: white;
}

#header-styles .active{
    background-color: rgb(230, 230, 230);
}

#header-styles a {
    color: black;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.5s;
    margin: 0 2px;
}

#header-styles a:hover {
    background-color: rgb(230, 230, 230);
}

#header-styles a:active {
    background-color: lightgrey;
}

@media (max-width: 768px) {
    #header-styles nav {
        padding: 10px 2%;
    }

    #header-styles .basic-nav {
        display: none;
    }

    #header-styles .burger {
        display: inline-block;
    }

    #header-styles .burger-container {
        position: relative;
    }

    #header-styles .burger-nav {
        height: 0;
    }

    #header-styles .burger-nav.active {
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 10;
        padding: 10px;
        background-color: rgb(235, 235, 235);
        height: auto;
    }

    #header-styles nav .main-nav{
        overflow-x: visible;
        white-space: normal;
        scrollbar-width: auto;
        -ms-overflow-style: auto;
    }
    
    #header-styles nav .main-nav::-webkit-scrollbar{
        display: block;
    }
}