#footer-styles{
    display: flex;
    background-color: white;
    border-radius: 10px 10px 0 0;
    margin-top: 50px;
    padding: 30px 4% 50px 4%;
}

#footer-styles img {
    height: 50px;
}

#footer-styles > *{
    flex: 2;
}

#footer-styles > :nth-child(1){
    flex: 3;
}

#footer-styles h5 {
    margin: 8px 0;
}

#footer-styles p {
    margin: 5px 0;
}

#footer-styles a {
    color: black;
    text-decoration: none;
}

#footer-styles div div {
    display: flex;
    gap: 10px;
}

#footer-styles div div nav {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    transition: background-color 0.5s;
}

#footer-styles div div nav:hover {
    background-color: rgb(235, 235, 235);
}

#footer-styles div div nav:active {
    background-color: rgb(225, 225, 225);
}