html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

#website {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}